* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Global */
body {
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.6;
}
html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --grey-items: #afb1b8;
  --section-team-color: #f5f4fa;
  --section-offer-color: #2f303a;
  --fontblue-color: #2196f3;
  --fontgrey-color: #757575;
  --font-h-color: #212121;
}

/* Contacts styles */
.contacts-link {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--fontgrey-color);
  text-decoration: none;
}

.mail {
  margin-right: 26px;
}

.tel,
.mail {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* TExt and Headers */

.button-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 15px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* Header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

.navbar-one {
  display: flex;
  align-items: baseline;
}

.header-nav {
  width: 294px;
  margin-right: 300px;
}

.img-header {
  margin-right: 94px;
  display: inline-block;
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.img-header-span {
  color: var(--fontblue-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.header-nav-item {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--font-h-color);
  text-decoration: none;
}

.header-nav-item:hover,
.header-nav-item:focus {
  color: var(--fontblue-color);
}

.active {
  color: var(--fontblue-color);
}

.navbar-one-ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.studiobutton {
  color: var(--fontblue-color);
}

.contactsnav {
  display: inline-block;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
}

.contactsnav a:focus,
.contactsnav a:focus .contacts-item-svg,
.contactsnav a:hover,
.contactsnav a:hover .contacts-item-svg {
  color: var(--fontblue-color);
  fill: var(--fontblue-color);
}

.contacts-item-svg {
  margin-right: 6px;
  width: 16px;
  height: 12px;
  fill: var(--fontgrey-color);
}

/* Main */
.main {
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.padding-bottom {
  padding-bottom: 94px;
}

.margin-center {
  margin: 0 25px 0 25px;
}
/* Offer section */

.section-offer {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--section-offer-color);
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/offer-section/bg.jpg);
  background-position: 50% 50%;
}
.section-offer-div {
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 210px;
}
.section-offer-h2 {
  margin: auto;
  margin-bottom: 20px;
  color: #ffffff;
  width: 696px;
  height: 120px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.img-section-offer {
  position: relative;
}

.section-offer-button {
  width: 200px;
  height: 50px;
  background: var(--fontblue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: 0;
}

/* Details section */
.section-details {
  text-align: center;
  padding-top: 94px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 270px;
  min-height: 120px;
  background-color: var(--section-team-color);
}

.icon {
  width: 70px;
  height: 70px;
}

.section-details-ul {
  list-style-type: none;
  display: flex;
}

.section-details-li {
  margin-right: 30px;
}
.section-details-ul-li-p {
  width: 270px;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
.section-details-h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--font-h-color);
  text-align: left;
  margin-top: 30px;
}

.section-details-pic {
}

/* What we do */

.section-whatwedo {
  text-align: center;
}
.section-whatwedo-h2 {
  margin-bottom: 50px;
}
.section-whatwedo-li {
  display: inline;
}
.section-whatwedo-list {
  padding: 0;
}

/* Section Team */
.section-team {
  background-color: var(--section-team-color);
}
.section-team-div {
  justify-content: center;
}
.ourteam {
  text-align: center;
  padding-top: 95px;
  margin-bottom: 50px;
}

.section-team-ul {
  display: flex;
  list-style-type: none;
}
.section-team-ul-li {
  background-color: #ffffff;
  margin-right: 30px;
  justify-content: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
}
.section-team-ul-li-img {
  width: 270px;
  height: 260px;
}

.team-info {
  padding: 30px 20px;
}
.section-team-ul-li-h3 {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-h-color);
}

.section-team-ul-li-p {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fontgrey-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-around;
}

.social-list-item {
  display: flex;
  list-style: none;

  border-radius: 50%;
}

.social-list-item:hover,
.social-list-item:focus {
  background-color: var(--fontblue-color);
}

.social-list-item:hover .social-list-icon,
.social-list-item:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.social-list-icon {
  fill: var(--grey-items);
  width: 20px;
  height: 20px;
}

/* Section Our Partners */
.partners-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.partners-item {
  border: 1px solid var(--grey-items);
  box-sizing: border-box;
  border-radius: 4px;
}

.partners-item:focus,
.partners-item:hover {
  border-color: var(--fontblue-color);
}

.partners-item:focus .partners-list-icon,
.partners-item:hover .partners-list-icon {
  fill: var(--fontblue-color);
}

.partners-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
}
.partners-item {
  width: 170px;
  height: 90px;
}

.partners-list-icon {
  fill: var(--grey-items);
}
/* Footer */

.footer {
  background-color: var(--section-offer-color);
  justify-content: flex-start;
}

.footer .container {
  padding-top: 60px;
  display: flex;
}
.left-side {
  margin-right: 70px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.footer-contacts-ul {
  list-style: none;
  /* margin-top: 20px; */
}

.footer-contacts-ul-li {
}
.contacts-link[href*="https://goo.gl/"]
{
  color: #ffffff;
}
.imgfoooter {
  margin-bottom: 20px;
}
.imgfoooter-span {
  color: #ffffff;
}
.imgfootera {
  text-decoration: none;
}
.imgfoooter a {
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--fontblue-color);
}

footer a:hover,
footer a:focus {
  color: #ffffff;
}

.contacts-link[href*="https://goo.gl/"]:hover,
.contacts-link[href*="https://goo.gl/"]:focus
{
  color: var(--fontblue-color);
}

.social-list-footer {
  display: flex;
}

.social-list-item-footer {
  display: flex;
  list-style: none;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-item-footer:hover,
.social-list-item-footer:focus {
  background-color: var(--fontblue-color);
}

.social-list-item:hover .social-list-icon,
.social-list-item:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.social-list-icon-footer {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.title-links-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}
/* Styles of portfolio */
/* Main */

.portfolio {
  padding-top: 94px;
  justify-content: center;
}

/* Buttons */
.list-buttons-div {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
}

.list-buttons {
  display: flex;
  list-style-type: none;
}

.buttons,
.buttons-two {
  width: fit-content;
  height: 38px;
  margin: 10px;
  background: var(--fontblue-color);
  border-radius: 4px;
  border: none;
  align-items: center;
  text-align: justify;
  white-space: nowrap;
}
.buttons-two {
  background: var(--section-team-color);
}

.button-active,
.button-active-grey {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 15px;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-decoration: none;
}
.button-active-grey {
  color: var(--font-h-color);
}

.button-active-grey:hover,
.button-active-grey:focus {
  color: #ffffff;
  background: var(--fontblue-color);
  border-radius: 4px;
}

.examples {
  display: flex;
  width: 611px;
  height: 30px;
  padding: 10px;
}

/* Photos list */
.list-photos {
  flex-direction: column;
  list-style-type: none;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.pic1 {
  width: 370px;
  height: 404px;
  margin: 30px 7px 0px 8px;
  border: 1px solid #eeeeee;
}

.pic1:focus,
.pic1:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.card-info {
  padding: 16px 24px;
}
.pic1:first-child {
  margin-top: 0;
}
.pic1-h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.pic1-p {
  letter-spacing: 0.03em;
  line-height: 40px;
  font-weight: lighter;
  color: var(--fontgrey-color);
}

/* Footer */
.foooter-portfolio {
  left: 0px;
  top: 1600px;
  background-color: var(--section-offer-color);
}
