@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Global */
body {
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.6;
}
html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --section-team-color: #f5f4fa;
  --section-offer-color: #2f303a;
  --fontblue-color: #2196f3;
  --fontgrey-color: #757575;
  --font-h-color: #212121;
}

/* Contacts styles */
.contacts-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--fontgrey-color);
  text-decoration: none;
}

/* TExt and Headers */

.button-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 15px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* Header */
.header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  border: 1px #000000;
}

.img-header {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.img-header-span {
  color: var(--fontblue-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.navbar-one {
  position: absolute;
  width: 294px;
  height: 16px;
  left: 453px;
  top: 25px;
}
.studio-button-hover:hover,
.studio-button-hover:focus {
  color: var(--fontblue-color);
}

.navbar-one-ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.studio-button-hover,
.studiobutton,
.studio-button-a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--font-h-color);
  text-decoration: none;
}

.studiobutton {
  color: var(--fontblue-color);
}

.contactsnav {
  position: absolute;
  width: 300px;
  height: 16px;
  left: 1078px;
  top: 32px;
  display: flex;
  justify-content: space-around;
}
.contactsnav a:hover {
  color: #000000;
}

/* Main */
.main {
  margin-bottom: -50px;
}
/* Offer section */

.section-offer {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background-color: var(--section-offer-color);
}

.section-offer h2 {
  color: #ffffff;
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-offer button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--fontblue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Details section */
.section-details {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
  margin: 95;
}
.section-details ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.section-details ul li {
  margin: 30px;
}
.section-details ul li p {
  width: 270px;
  margin: 5px;
}
.section-details h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--font-h-color);
  text-align: left;
  padding: 6px;
}

/* What we do */

.section-whatwedo {
  position: absolute;
  width: 1300px;
  height: 386px;
  left: 215px;
  top: 969px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}
.section-whatwedo h2 {
  margin-bottom: 50px;
}
.section-whatwedo li {
  margin: 15px 30px;
  display: inline;
}

/* Section Team */

.section-team {
  background-color: var(--section-team-color);
  position: absolute;
  width: 1600px;
  height: 500px;
  left: 0px;
  top: 1449px;
  justify-content: flex-start;
}
.ourteam {
  text-align: center;
}

.section-team ul {
  position: absolute;
  width: 1600px;
  height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  list-style-type: none;
}
.section-team ul li {
  background-color: #ffffff;
  margin: 15px;
  justify-content: center;
}
.section-team ul li img {
  margin-bottom: 15px;
  width: 270px;
  height: 260px;
}

.section-team ul li h3 {
  margin-top: 15px;
  margin: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-h-color);
}

.section-team ul li p {
  margin: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */

.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1950px;
  background-color: var(--section-offer-color);
}
.contacts-link[href*="https://goo.gl/"]
{
  color: #ffffff;
}

.imgfoooter span {
  color: #ffffff;
}
.imgfootera {
  text-decoration: none;
}
.imgfoooter a {
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--fontblue-color);
}
.footer-contacts {
  margin: 60px 215px;
}

footer a:hover,
footer a:focus {
  color: #ffffff;
}

.contacts-link[href*="https://goo.gl/"]:hover,
.contacts-link[href*="https://goo.gl/"]:focus
{
  color: var(--fontblue-color);
}

/* Styles of portfolio */
/* Main */

.portfolio {
  position: absolute;
  width: 1170px;
  height: 1360px;
  padding-top: 110px;
  left: 215px;
  top: 120px;
}

/* Buttons */
.list-buttons-div {
  position: absolute;
  width: 611px;
  height: 54px;
  left: 270px;
  top: 5px;
}

.list-buttons {
  display: flex;
  width: 611px;
  height: 30px;
  left: 495px;
  top: 50px;
  padding: 10px;
  list-style-type: none;
}

.buttons,
.buttons-two {
  width: fit-content;
  height: 38px;
  margin: 10px;
  background: var(--fontblue-color);
  border-radius: 4px;
  border: none;
  align-items: center;
  text-align: justify;
  white-space: nowrap;
}
.buttons-two {
  background: var(--section-team-color);
}

.button-active,
.button-active-grey {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 15px;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-decoration: none;
}
.button-active-grey {
  color: var(--font-h-color);
}

.examples {
  display: flex;
  position: absolute;
  position: absolute;
  width: 611px;
  height: 30px;
  left: 495px;
  top: 300px;
  padding: 10px;
}

/* Photos list */
.list-photosdiv {
  position: absolute;
  width: 1170px;
  height: 1400px;
  top: 50px;
}
.list-photos {
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  top: 50px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.pic1 {
  width: 370px;
  height: 404px;
  margin: 20px 5px 20px 5px;
  border: 1px solid #eeeeee;
}
.picfirst {
  margin-top: 0;
}
.pic1-h2 {
  font-weight: 600;
  margin-top: 20px;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-left: 24px;
}

.pic1-p {
  letter-spacing: 0.03em;
  line-height: 40px;
  margin-left: 24px;
  font-weight: lighter;
}

/* Footer */
.foooter-portfolio {
  left: 0px;
  top: 1600px;
  background-color: var(--section-offer-color);
}
