@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.6;
}
a {
  text-decoration: none;
}

/* Contacts styles */
.contacts-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

/* TExt and Headers */
p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #757575;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.button-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 15px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* Header */

header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.imgheader {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.imgheader span {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.navbar1 {
  position: absolute;
  width: 294px;
  height: 16px;
  left: 453px;
  top: 25px;
}
.navbar1 a:hover {
  color: #2196f3;
}

.navbar1 ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar1 ul a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.contactsnav {
  position: absolute;
  width: 300px;
  height: 16px;
  left: 1078px;
  top: 32px;
  display: flex;
  justify-content: space-around;
}
.contactsnav a:hover {
  color: #000000;
}
/* Offer section */

.section-offer {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background-color: #2f303a;
}

.section-offer h2 {
  color: #ffffff;
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-offer button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Details section */
.section-details {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
  margin: 95;
}
.section-details ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.section-details ul li {
  margin: 30px;
}
.section-details ul li p {
  width: 270px;
  margin: 5px;
}
.section-details h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #212121;
  text-align: left;
  padding: 6px;
}

/* What we do */

.section-whatwedo {
  position: absolute;
  width: 1300px;
  height: 386px;
  left: 215px;
  top: 969px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.section-whatwedo h2 {
  margin-bottom: 50px;
}
.section-whatwedo li {
  margin: 15px 30px;
  display: inline;
}

/* Section Team */

.section-team {
  background-color: #f5f4fa;
  position: absolute;
  width: 1600px;
  height: 500px;
  left: 0px;
  top: 1449px;
  justify-content: flex-start;
}

.section-team ul {
  position: absolute;
  width: 1600px;
  height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  list-style-type: none;
}
.section-team ul li {
  background-color: #ffffff;
  margin: 15px;
  justify-content: center;
}
.section-team ul li img {
  margin-bottom: 15px;
  width: 270px;
  height: 260px;
}

.section-team ul li h3 {
  margin-top: 15px;
  margin: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-team ul li p {
  margin: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */

footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1950px;
  background-color: #2f303a;
}
.contacts-link[href*="https://goo.gl/"]
{
  color: #ffffff;
}

.imgfoooter span {
  color: #ffffff;
}

.imgfoooter a {
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.footer-contacts {
  margin: 60px 215px;
}

footer a:hover {
  color: #ffffff;
}

.contacts-link[href*="https://goo.gl/"]:hover
{
  color: #2196f3;
}
